$mainBackgroundColor: #000;
$mainBackgroundColorMiddle: #000;
$mainBackgroundColorLight: #000;
$maincolor: #000;
$footerBackground: #000;
$footerLogoMain: #000;
$footerLogoAccent: #000;
$footerIconBackground: #000;
$footerContact: #000;
$footerCopyrightBorder: #000;
$footerCopyright: #000;
