<div class="backdrop is-hidden" data-modal>
<div class="modal">
    <button class="modal__close-btn" data-modal-close>
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m8 8 14 14M8 22 22 8" stroke="#000" stroke-width="2"/></svg>
    </button>
    <ul class="modal__list">
    <li class="modal__items">
        <p class="modal__info">Vote / Votes</p>
        <p class="modal__data"><span class="modal__vote">5.5</span><span class="modal__info">/</span><span>123</span></p>
    </li>
    <li class="modal__items">
        <p class="modal__info">Popularity</p>  
        <p class="modal__data">1111</p>
    </li>
    <li class="modal__items">
        <p class="modal__info">Original Title</p>
        <p class="modal__data"></p>
   </li>
    <li class="modal__items">
        <p class="modal__info">Genre</p>
        <p class="modal__data"></p>
    </li>
</ul>
<div class="modal__description">
    <p class="modal__about">ABOUT</p>
    <p class="modal__more"></p>
</div>
<div class="modal__add-btns">
<button class="modal__watched-btn">add to watched</button>
<button class="modal__queue-btn">add to queue</button>
</div>
</div>
</div>