<div class="modal-footer-backdrop is-hidden">
  <div class="modal-footer is-hidden">
    <svg class="modal-footer__icon-close">
      <use href="./images/icons.svg#icon-cancel-circle"></use>
    </svg>
    <svg class="modal-footer__icon-right">
      <!-- <use href="./images/icons.svg#icon-circle-right"></use> -->
    </svg>
    <svg class="modal-footer__icon-left">
      <!-- <use href="./images/icons.svg#icon-circle-left"></use> -->
    </svg>
    <ul class="modal-footer__students-list">
      <li class="modal-footer__student modal-footer__student-active">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="/src/images/student1Mateusz.jpg"
              alt="Mateusz"
            />
            <h2>Mateusz</h2>
            <p class="modal-footer__student-role">Team Leader</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="/src/images/student2Wojtek.jpg"
              alt="Wojtek"
            />
            <h2>Wojtek</h2>
            <p class="modal-footer__student-role">Scrum Master</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              W projekcie grupowym Java Script Filmoteka byłem Scrum Masterem
              przez co organizowałem spotkania mojej grupy oraz moim zadaniem
              było przygotowanie pracy i obsługa Trello. Jako programista
              stworzyłem loader spinner, to okno modalne z informacjami o naszej
              grupie, footer oraz brałem udział w tworzeniu adresu URL.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="/src/images/student3Wiola.jpg"
              alt="Wiola"
            />
            <h2>Wiola</h2>
            <p class="modal-footer__student-role">Developer</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              W projekcie zajmowałam się wyglądem i podstawowym działaniem okna
              modalnego z opisem filmu.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="/src/images/student4Krzysiek.png"
              alt="Krzysztof"
            />
            <h2>Krzysztof</h2>
            <p class="modal-footer__student-role">Developer</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              W projekcie Filmoteka byłem odpowiedzialny głównie za obszar
              headera, zarówno na stronie głównej, jak i na stronie "My
              library". Zajmowałem się warstwą HTML i CSS tych obszarów,
              funkcjonalnością renderowania galerii po wyszukaniu filmu oraz
              połączeniem odpowiednich funkcji z przyciskami "Watched" i "Queue"
              na stronie "My Library
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="/src/images/student5.jpg"
              alt="Michał"
            />
            <h2>Michał</h2>
            <p class="modal-footer__student-role">Developer</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="/src/images/student6Piotr.jpg"
              alt="Piotr"
            />
            <h2>Piotr</h2>
            <p class="modal-footer__student-role">Developer</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              W projekcie JS zajmowałem się głównie stworzeniem galerii filmów.
              Byłem odpowiedzialny za kod HTML, stylowanie CSS oraz funkcję JS,
              która tworzy galerię.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <p class="modal-footer__info">Click on one side to change student.</p>
  </div>
</div>
