<div class="modal-footer-backdrop is-hidden">
  <div class="modal-footer is-hidden">
    <svg class="modal-footer__icon-close">
      <use href="./images/icons.svg#icon-cancel-circle"></use>
    </svg>
    <svg class="modal-footer__icon-right">
      <!-- <use href="./images/icons.svg#icon-circle-right"></use> -->
    </svg>
    <svg class="modal-footer__icon-left">
      <!-- <use href="./images/icons.svg#icon-circle-left"></use> -->
    </svg>
    <ul class="modal-footer__students-list">
      <li class="modal-footer__student modal-footer__student-active">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="./images/student1Mateusz.jpg"
              alt="Mateusz"
            />
            <h2>Mateusz</h2>
            <p class="modal-footer__student-role">Team Leader</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              In the project, I was a Team Leader. I oversaw the work with
              GitHub. I created the users authenticate with Firebase, and wrote
              firebase functions. I also co-created the JS for the modal window
              for the film description, and dark mode function. The project was
              a very valuable experience for me.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="./images/student2Wojtek.jpg"
              alt="Wojtek"
            />
            <h2>Wojtek</h2>
            <p class="modal-footer__student-role">Scrum Master</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              In the Java Script Filmoteka group project I was a Scrum Master
              that's why I have organized meetings of my group and my task was
              to prepare our work and use Trello. As a programmer I created
              loader spinner, this modal window with information about our
              group, footer and I participated in creating the URL address.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="./images/student3Wiola.jpg"
              alt="Wiola"
            />
            <h2>Wiola</h2>
            <p class="modal-footer__student-role">Developer</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              I am a surveyor by profession, but my passion is programming. So I
              chose this way in life. In the project, I dealt with the
              appearance and basic operation of the modal window with the
              description of the movie.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="./images/student4Krzysiek.png"
              alt="Krzysztof"
            />
            <h2>Krzysztof</h2>
            <p class="modal-footer__student-role">Developer</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              In "Filmoteka" project I was responsible mainly for the header area, both on the homepage and "My library" subpage. 
              I was taking care of the HTML and CSS layer of these areas, rendering gallery functionality with JS after searching 
              for a movie and connecting appropriate functions to "Watched" and "Queue" buttons on "My library" subpage.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="./images/student5Michal.jpg"
              alt="Michał"
            />
            <h2>Michał</h2>
            <p class="modal-footer__student-role">Developer</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              Hi, I'm a fresh programmer with a passion and sneak peek at
              programming. I follow the principle: if something can be explained
              logically, it can be coded.
              <br />
              In the project, I created pagination for all actions, changing the
              url and fetch movies from the API. I was responsible for
              connecting the page loader and gallery loader functions. I also
              added some small functions like changing movies in the modal and
              worked with colleagues to connecting functions.
            </p>
          </div>
        </div>
      </li>
      <li class="modal-footer__student">
        <div class="modal-footer__student-data">
          <div>
            <img
              class="modal-footer__student-image"
              src="./images/student6Piotr.jpg"
              alt="Piotr"
            />
            <h2>Piotr</h2>
            <p class="modal-footer__student-role">Developer</p>
          </div>
          <div class="modal-footer__student-text">
            <p>
              In the JS project, I was mainly responsible for creating a video
              gallery. I was responsible for the HTML code, CSS styling and the
              JS function that creates the gallery.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <p class="modal-footer__info">Click on one side to change student.</p>
  </div>
</div>
