<div class="modal-backdrop is-hidden">
  <div class="modal-footer">
    <svg class="modal-footer__icon-close">
      <use href="./images/icons.svg#icon-cancel-circle"></use>
    </svg>
    <svg class="modal-footer__icon-right">
      <use href="./images/icons.svg#icon-circle-right"></use>
    </svg>
    <svg class="modal-footer__icon-left">
      <use href="./images/icons.svg#icon-circle-left"></use>
    </svg>
    <ul class="modal-footer__students-list">
      <li class="modal-footer__student modal-footer__student-active">
        <img
          class="modal-footer__student-image"
          src="/src/images/student1.jpg"
          alt="Wiola"
        />
        <h2>Wiola</h2>
        <p>text 1</p>
      </li>
      <li class="modal-footer__student">
        <img
          class="modal-footer__student-image"
          src="/src/images/student2.jpg"
          alt="Krzysztof"
        />
        <h2>Krzysiek</h2>
        <p>text 2</p>
      </li>
      <li class="modal-footer__student">
        <img
          class="modal-footer__student-image"
          src="/src/images/student3.jpg"
          alt="Mateusz"
        />
        <h2>Mateusz</h2>
        <p>Team leader</p>
      </li>
      <li class="modal-footer__student">
        <img
          class="modal-footer__student-image"
          src="/src/images/student4.jpg"
          alt="Michał"
        />
        <h2>Michał</h2>
        <p>text 4</p>
      </li>
      <li class="modal-footer__student">
        <img
          class="modal-footer__student-image"
          src="/src/images/student5.jpg"
          alt="Piotr"
        />
        <h2>Piotrek</h2>
        <p>text 5</p>
      </li>
      <li class="modal-footer__student">
        <img
          class="modal-footer__student-image"
          src="/src/images/student6.jpg"
          alt="Wojtek"
        />
        <h2>Wojtek</h2>
        <p>Scrum Master</p>
      </li>
    </ul>
  </div>
</div>
