
<header class="home-header">
    <div class="container">
        <nav class="home-header__navigation">
            <a class="home-header__home" href="index.html">
                <svg class="home-header__logo"><use href="./images/icons.svg#logo"></use></svg>
                <span class="home-header__name">Filmoteka</span>
            </a>
            <div class="home-header__subsites">
                <a href="index.html" class="home-header__subsite home-header__subsite--active">Home</a>
                <a href="library.html" class="home-header__subsite">My library</a>
            </div>
        </nav>
        <form class="home-header__search-form">
            <input placeholder="Поиск фильмов" type="text" class="home-header__searchbar">
            <svg class="home-header__loupe"><use href="./images/icons.svg#loupe"></use></svg>
        </form>
    <div>
</header>

