<header class="library-header">
  
  </div>
  <div class="container container__header">
    <nav class="library-header__navigation">
      <a class="library-header__home" href="index.html">
        <svg class="library-header__logo">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        <span class="library-header__name">Filmoteka</span>
      </a>
      <div class="library-header__subsites">
        <a href="index.html" class="library-header__subsite">Home</a>
        <a
          href="library.html"
          class="library-header__subsite library-header__subsite--active library-header__subsite--library"
          id="libraryBtn"
          >My library</a
        >
        <div class="library-header__icons-box">
          <svg class="icon icon-login">
            <use href="./images/icons.svg#icon-enter"></use>
          </svg>
          <svg class="icon icon-logout hidden">
            <use href="./images/icons.svg#icon-exit"></use>
          </svg>
          <p class="library-header__greeting"></p>
        </div>
      </div>
    </nav>
    <div class="buttons">
      <button type="button" class="button watched">Watched</button>
      <button type="button" class="button queue">Queue</button>
    </div>
  </div>
</header>
