<section class="container">
  <div class="pages">
    <ul class="pages__list" id="pages">
      <li>
        <button class="pages__btn pages__rim" type="button">
          &#x3c;
        </button>
      </li>
      <li><button class="pages__btn" type="button">1</button></li>
      <li><p class="pages__item">...</p></li>
      <li><button class="pages__btn" type="button">11</button></li>
      <li><button class="pages__btn" type="button">12</button></li>
      <li>
        <button class="pages__btn pages__active" type="button">
          13
        </button>
      </li>
      <li><button class="pages__btn" type="button">14</button></li>
      <li><button class="pages__btn" type="button">15</button></li>
      <li><p class="pages__item">...</p></li>
      <li><button class="pages__btn" type="button">20</button></li>
      <li>
        <button class="pages__btn pages__rim" type="button">
          &#x3e;
        </button>
      </li>
    </ul>
  </div>
</section>
