<section class="container">
  <div class="pagination">
    <ul class="pagination__list" id="pagination">
      <li>
        <button class="pagination__btn pagination__rim" type="button">
          &#x3c;
        </button>
      </li>
      <li><button class="pagination__btn" type="button">1</button></li>
      <li><p class="pagination__item">...</p></li>
      <li><button class="pagination__btn" type="button">11</button></li>
      <li><button class="pagination__btn" type="button">12</button></li>
      <li>
        <button class="pagination__btn pagination__page" type="button">
          13
        </button>
      </li>
      <li><button class="pagination__btn" type="button">14</button></li>
      <li><button class="pagination__btn" type="button">15</button></li>
      <li><p class="pagination__item">...</p></li>
      <li><button class="pagination__btn" type="button">20</button></li>
      <li>
        <button class="pagination__btn pagination__rim" type="button">
          &#x3e;
        </button>
      </li>
    </ul>
  </div>
</section>
