@use '../utils/forward' as *;

*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// Mobile 320-768//

.grid,
.library__grid {
  @include flex-display(wrap, 10px, center, stretch);
  // display: flex;
  // flex-wrap: wrap;
  // gap: 10px;
  list-style-type: none;
  position: relative;
  // justify-content: left;
  // align-items: stretch;
  margin: 0px;
  padding: 0px;
}

.grid>li {
  flex-basis: calc(100%);
  display: flex;
  // justify-content: space-between;
}

// Tablet 768-1024//
@media screen and (min-width: 768px) {
  .grid{
    justify-content: start;
  }
  .grid>li{
    flex-basis:calc((100% - 10px) / 2);
  }
}

// Desktop 1024+//
@media screen and (min-width: 1024px) {
  .grid>li {
      flex-basis: calc((100% - 20px) / 3);
    }
}