@use '../utils/forward' as *;

.pages {

  &--none {
    display: none;

    @include media-mapp('tablet') {
      display: flex;
    }
  }

  &__list {
    list-style: none;
    margin-top: 40px;
    @include flex-display(row, 0px, center, center);
    @include font-type(500, 12px, 1.33);
  }

  &__item {
    transform: translateY(-30%);
    @include flex-display(null, null, center, center);
    height: 10px;
    width: 40px;
  }

  &__btn {
    height: 40px;
    width: 40px;

    @include flex-display(null, null, center, center);
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-primary);

    &:focus,
    &:hover {
      color: var(--text-primary);
      background-color: var(--bg-decorative);
      @include transition-add('background-color' 'color');
    }
  }

  &__rim {
    background-color: var(--bg-secondary);
    height: 40px;
    width: 40px;
    margin-inline: 16px;
    color: var(--text-primary);
    
    &:focus,
    &:hover {
      background-color: var(--bg-decorative);
      color: var(--text-primary);
      @include transition-add('background-color' 'color');
    }

    &--disabled {
      cursor: auto;

      &:focus,
      &:hover {
        background-color: var(--bg-secondary);
        color: var(--text-primary);
        @include transition-add('background-color' 'color');
      }
    }
  }

  &__active {
    background-color: var(--bg-decorative);
    color: var(--text-alternative);
    height: 40px;
    width: 40px;

    &:focus,
    &:hover {
      color: var(--text-primary);
      @include transition-add('color');
    }
  }

  &__no-movies {
    text-align: center;
    @include font-type(null, 20px);

    @include media-mapp('tablet') {
      @include font-type(null, 24px);
    }
  }
}
